<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>ERROR</level>-->
<!--        </filter>-->
    </appender>
    <logger name="org.openapitools" level="${log.level:-info}">
    </logger>
    <logger name="com.amartus" level="${log.level:-debug}">
    </logger>
    <root level="warn">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
